@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
.h1{
    font-family: "roboto";
    text-align: center;
}
img{
display: block;
  margin: auto;
  width: 20%;
}
.Dis{
  text-align: center;
  font-family: 'Stack Sans Text';
}
.Heading{
  text-align: center;
}
.govinfo{
  margin-top: 1%;
}